<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.moqigit.codelab">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.video.VideoTestAct"></activity>
        <activity android:name=".ui.test.IntentTestActivity" />
        <activity android:name=".words.WordsLearningAct" />
        <activity android:name=".ui.test.QrCodeTestActivity" />
        <activity android:name=".ui.test.TimeBroadcastTestAct" />
        <activity android:name=".ui.test.AudioWaveTestAct" />
        <activity
            android:name=".homepage.neteasemusic.NeteaseMusicHomePageAct"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="浪">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>